<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458482601291-6fc4e2t5g5vp76asem2jl79hb0ed3ik9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458482601291-6fc4e2t5g5vp76asem2jl79hb0ed3ik9</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rDQ7ZO3X7peLQpC8ni3QQf9-YEI_TZw</string>
	<key>GCM_SENDER_ID</key>
	<string>458482601291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginSignup</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-895c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-895c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458482601291:ios:b94388dc77305892366cce</string>
</dict>
</plist>